<div class="footer clearfix">
  <div class="container">
    <div class="row clearfix">
      <div class="col-sm-6 col-xs-12 copyRight">
        <p>© 2016 Copyright Royal College Bootstrap Template by <a href="http://www.iamabdus.com">Abdus</a></p>
      </div><!-- col-sm-6 col-xs-12 -->
      <div class="col-sm-6 col-xs-12 privacy_policy">
        <a href="contact-us.html">Contact us</a>
        <a href="privacy-policy.html">Privacy Policy</a>
      </div><!-- col-sm-6 col-xs-12 -->
    </div><!-- row clearfix -->
  </div><!-- container -->
</div><!-- footer -->
