<div class="menuFooter clearfix">
  <div class="container">
    <div class="row clearfix">

      <div class="col-sm-4 col-xs-6">
        <ul class="menuLink clearfix">
          <li><a href="/about">About Us</a></li>
          <li><a href="/whykorean">Why Korean?</a></li>
        </ul>
      </div><!-- col-sm-3 col-xs-6 -->

      <div class="col-sm-4 col-xs-6 borderLeft clearfix">
        <div class="footer-address">
          <address>
            University of Oxford &amp; Korean Education Centre in the UK
          </address>
          <!-- <a href="contact-us.html"><span class="place"><i class="fa fa-map-marker"></i>Main Campus</span></a> -->
        </div>
      </div><!-- col-sm-3 col-xs-6 -->

      <div class="col-sm-4 col-xs-6 borderLeft clearfix">
        <!-- <div class="socialArea clearfix">
          <h5>Find us on:</h5>
          <ul class="list-inline ">
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
          <li><a href="#"><i class="fa fa-flickr"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
          </ul>
        </div> -->
        <div class="contactNo clearfix">
          <h5>Contact:</h5>
          <p>{{ site.email }}</p>
        </div><!-- contactNo -->
      </div><!-- col-sm-3 col-xs-6 -->

    </div><!-- row clearfix -->
  </div><!-- container -->
</div><!-- menuFooter -->
