<div class="aboutArea">
  <div class="container">
    <div class="row clearfix">
      <div class="col-xs-12">
        <div class="aboutTitle">
          <h2>Our Sections</h2>
        </div><!-- aboutTitle -->
      </div><!-- col-sm-3 col-xs-12 -->
    </div><!-- row clearfix -->

    <div class="about_inner clearfix">
      <div class="row">
        {% include section-link.html url="/whykorean" title="Why Korean?" image="img/home/learn/learn_1.jpg" %}
        {% include section-link.html url="/teacherscorner" title="Teacher's corner" image="img/home/learn/learn_2.jpg" %}
        {% include section-link.html url="/studentscorner" title="Students' corner" image="img/home/learn/learn_3.jpg" %}
        {% include section-link.html url="/upcomingevents" title="Upcoming events" image="img/home/learn/learn_4.jpg" %}

      </div><!-- row -->
    </div><!-- about_inner -->

  </div><!-- container -->
</div><!-- aboutArea -->
